body
{
	background-color: white;
}
.style
{
	
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.style2
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.img
{
	height: 700px;
	width: 350px;
}
.img2
{
	height: 700px;
	width: 550px;
}
